# Xcode
*.xcuserstate
*.xcworkspace
DerivedData/
build/
*.lock
*.xcuserdatad/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# General
.DS_Store
*.swp
*.idea
*.vscode
*.sublime-workspace
*.sublime-project

# Logs
*.log

# API Keys or Sensitive Files
*.plist
